header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;

    height: 67px;
    background-color: #C3CFD9;
}

header p {
    font-size: 34px;
    color: #E8833A;
    cursor: pointer;

    height: 100%;
    width: 120px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

header ion-icon {
    position: absolute;
    top: calc((67px - 34px) / 2);
    left: 20px;

    font-size: 34px;
    color: #E8833A;
    cursor: pointer;
}
